.cart{
    display: inline-block;
    text-align: center;
    border: .5px solid #d4cfcf63;
    border-radius: 3px;
    -webkit-border-radius: 3px;\
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 150px;
    margin: 20px 0px 0px 10px;
 
}


.cart img{
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart p{
    font-size: 8px;
}
.cart h2{
    font-size: 15px;
}
.cart button{
    margin: 3px 0px 3px 0px;
    color: white;
    padding: 3px;
    background-color: rgb(160, 160, 224);
    border:none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}